.container-fluid {
    padding-right:0;
    padding-left:0;
    margin-right:auto;
    margin-left:auto;
    width:100%
 }
 
 .navbar-header{
 	float:left;
 
 }
 .navbar-collapse ul {
  position: relative;
  display: inline-block;
}
.logo{
	position:relative;
	top:-10px
}
@media  (max-width: 991px) {
 .navbar-header{
 	width:100%;
 
 }
}

#loginBox{
	display:none;
	padding:5px;
	margin:5px;
	
}
#loginBox.show{
	display:inline;
}
#loginMini.ul{
	right:-200px;
}