<div class ="margin5">
	<div class="range-slider">
  		<input class="range-slider__range" type="range" value="{{ note }}" min="0" max="100">
  		
		
  		<!-- span class="range-slider__value">0</span-->
	</div>
	<div class="rating" >
		<ul class="pagination pagination-primary" >
			<li></li>
			<li><a (click)="rated(1)">1</a></li>
			<li><a (click)="rated(2)">2</a></li>
			<li><a (click)="rated(3)">3</a></li>
			<li><a (click)="rated(4)">4</a></li>
			<li><a (click)="rated(5)">5</a></li>
			<li></li>
		</ul>
	</div>
</div>